@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen {
    height: 90vh !important;
}

.border-8.dark {
    position: relative;
    border-width: 5px;
    border-color: #EDDEA4;
    border-radius: 6px;
}

.border-8.light {
    position: relative;
    border-width: 5px;
    border-color: #5C4742;
    border-radius: 6px;
}

.title.dark {
    color: #EDDEA4;
}

.title.light {
    color: #5C4742;
}

.editable-box {
    cursor: pointer;
}

.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}

#uploadFile {
    display: none;
}
