@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen {
  height: 90vh !important;
}
.border-8 {
  position: relative;
  border-width: 3px;
  border-color: #c1cbdf;
  border-radius: 6px;
}
.editable-box {
  cursor: pointer;
}
.colorSelect {
    width: 30%;
    border-radius: 100%;
}